################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConvertMKVToMP4/v16/Server/sqlite3
